@import './../../common/modern-reset.css';
@import './../../common/base.css';

.tab-container {
  position: relative;
  margin-block: 1rem;
  /* background-color: var(--yellow); */
  inline-size: 380px;

  .tab-list {
    display: flex;

    .tab {
      width: 4.6875rem;
      height: 2.3125rem;
      background-color: transparent;
      border: 1px solid var(--gray);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .tab.active {
      background-color: var(--white);
      border: 2px solid var(--red);
      border-bottom: none;
      color: var(--red);
    }

    .tab:not(.active) {
      background-color: lightgray;
      border: 2px solid var(--gray);
      border-bottom: none;
      color: var(--black);
    }
  }

  .tab-panel {
    color: var(--black);

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;

        a {
          display: inline-block;
          text-decoration: none;
          flex-grow: 1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        time {
          /* font-size: 0.875rem; */
          white-space: nowrap;
        }
      }
    }
    a {
      display: inline-flex;
      align-items: center;
      color: var(--black);
      text-decoration: none;

      .fas {
        margin-right: 5px;
      }
    }
  }
  .view-more {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
    align-items: center;
    text-decoration: none;

    .fas {
      color: darkgreen;
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 768px) {
  .tab-container {
    inline-size: 90%;
  }

  .tab-panel {
    ul li {
      padding: 0.75rem 0;
    }

    a {
      font-size: 0.9375rem;
    }

    time {
      font-size: 0.8125rem;
    }
  }
}
